In [84]:
import numpy as np
import pandas as pd
import torch
from sklearn.model_selection import train_test_split, StratifiedShuffleSplit

# Logistic Regression

In [37]:
pd.set_option('display.max_columns', None)
df = pd.read_csv(r'C:\Users\lksja\Downloads\archive\Base.csv')

In [101]:
df.tail()

,fraud_bool,income,name_email_similarity,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,velocity_6h,velocity_24h,velocity_4w,bank_branch_count_8w,date_of_birth_distinct_emails_4w,employment_status,credit_risk_score,email_is_free,housing_status,phone_home_valid,phone_mobile_valid,bank_months_count,has_other_cards,proposed_credit_limit,foreign_request,source,session_length_in_minutes,device_os,keep_alive_session,device_distinct_emails_8w,device_fraud_count,month
999995,0,0.8,0.124690,-1,143,30,0.051348,-0.826239,AB,530,6732.602414,3010.048099,3095.754245,42,8,CA,305,1,BB,1,1,31,0,1500.0,0,INTERNET,16.967770,other,0,1,0,7
999996,0,0.9,0.824544,-1,193,30,0.009591,0.008307,AC,408,1574.293294,2716.495767,4286.089050,0,5,CA,235,0,BA,1,1,-1,1,1000.0,0,INTERNET,1.504109,macintosh,0,1,0,7
999997,0,0.8,0.140891,-1,202,10,0.059287,50.609995,AA,749,1258.864938,3601.322892,3103.891664,2,3,CA,195,1,BE,0,1,31,0,200.0,0,INTERNET,16.068595,other,0,1,0,7
999998,0,0.9,0.002480,52,3,30,0.023357,-1.313387,AB,707,7048.137128,6521.395012,3068.265084,7,8,CA,148,0,BD,0,1,1,0,200.0,0,INTERNET,1.378683,linux,1,1,0,7
999999,0,0.6,0.993391,-1,174,30,0.020422,14.942456,AA,655,3737.076479,3135.788094,3051.003293,14,8,CA,100,1,BB,0,1,15,1,200.0,0,INTERNET,1.947926,other,1,1,0,7

In [47]:
# One-Hot Encoding
df_encoded = pd.get_dummies(df, columns = ['payment_type', 'employment_status', 'device_os', 'housing_status'])

# Binary Encoding
df_encoded['source'] = df_encoded['source'].map({'INTERNET' : 1, 'TELEAPP' : 0})

In [133]:
X = df_encoded.iloc[:, 1:].to_numpy()
y = df_encoded['fraud_bool'].to_numpy()

In [197]:
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2)

for train_idx, test_idx in split.split(X, y):
    X_train, X_test = X[train_idx], X[test_idx]
    y_train, y_test = y[train_idx], y[test_idx]

In [199]:
y_train.shape
X_train.shape
w_

(800000, 51)

In [214]:
b_in = 10
w_in = np.array(np.random.rand(51))

In [257]:
def compute_logistic_loss(x, y, w, b):

    m = x.shape[0]
    cost = 0

    
    f_wb = 1/(1 + np.exp(-(x @ w + b).astype('float64')))
    loss = -y * np.log(f_wb) - (1 - y) * np.log(1 - f_wb)
    cost = np.sum(loss) / m

    return cost

In [258]:
compute_logistic_loss(X_train, y_train, w_in, b_in)

C:\Users\lksja\AppData\Local\Temp\ipykernel_11376\1478645090.py:8: RuntimeWarning: divide by zero encountered in log
  loss = -y * np.log(f_wb) - (1 - y) * np.log(1 - f_wb)
C:\Users\lksja\AppData\Local\Temp\ipykernel_11376\1478645090.py:8: RuntimeWarning: invalid value encountered in multiply
  loss = -y * np.log(f_wb) - (1 - y) * np.log(1 - f_wb)

np.float64(nan)

In [264]:
f_wb = 1/(1 + np.exp(-(X_train @ w_in + b_in).astype('float64')))
f_wb[:100]

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [262]:
-y_train * np.log(f_wb) - (1 - y_train) * np.log(1 - f_wb)

C:\Users\lksja\AppData\Local\Temp\ipykernel_11376\2599969668.py:1: RuntimeWarning: divide by zero encountered in log
  -y_train * np.log(f_wb) - (1 - y_train) * np.log(1 - f_wb)
C:\Users\lksja\AppData\Local\Temp\ipykernel_11376\2599969668.py:1: RuntimeWarning: invalid value encountered in multiply
  -y_train * np.log(f_wb) - (1 - y_train) * np.log(1 - f_wb)

array([inf, inf, inf, ..., inf, inf, nan])